@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
  position: relative;
  background: url(./assets/hero-bg.webp);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
